@font-face{
    font-family:Raleway-Italic; /*this is to create a new style of wording */
    src:url("fonts/Raleway-VariableFont_wght.ttf");
}
@font-face{
    font-family:frederic; /*this is to create a new style of wording for the name of soolking*/
    src:url("fonts/FrederickatheGreat-Regular.ttf");
    font-weight: normal;
    font-size:normal;
}
@font-face{
    font-family:lobster; /*this is to create a new style of wording */
    src:url("fonts/Lobster-Regular.ttf");
}

*{
    box-sizing: border-box;
    font-family:"Raleway-Italic";/*this is the same name that u give to your new font family*/
    color:black;
}
.HIS-NAME{
    text-align: center;
    font-family:"frederic";
    font-size:4em;
    font-weight: normal;
    color: white;
}
.NAME-LARGE {
    font-size: 7em;
}
html,body{
    margin:0;
    padding:0;

}
.nav ul {
    margin:0;
}
.nav li {
    display: inline;
}
.nav a {
    display:inline-block;
    padding:.5em; /*adding space just left and right*/
    color:white;
    text-decoration:none;
}
.main-nav li {
    padding: 0 5% ;

}
 .nav a:hover {
    background-color: rgba(255,255,255, .3);
}
.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255, .3);
}
.main-header
{
background-image: url(images/Soolking_cover_photo.jpg);
background-size: cover ;
background-position: center;
height: 500px; 

}

.content-section{
    margin: 1em;
}
.container{
    max-width: 900px;
    margin:0 auto ;
    padding:0 1.5em;
}

.section-header{
font-family:"lobster";
font-weight: normal;
text-align: center;
color:rgb(14, 13, 13);
font-size: 2.5em;
}
.about-image{
    border-radius: 50%;
    float: left;
    margin:15px;
    width:200px;
    height:200px;

}

.main-footer{
    background-color: rgb(66, 20, 109);
    padding: .25em 0;
    color: whitesmoke;
    
}
.main-footer-container{
    display:flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align:right;
}

.footer-nav li{
    padding:0 .5em;
}

.footer-nav img {
    width: 20px;
    height:20px;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header{
    margin: .5em 15% 2em 15% ;
    color: black;
    border: 2px solid #2d9cd8;
    background-color: rgb(255,255,255, .1);
    border-radius: 0%;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}
.btn-header:hover{
    background-color: rgb(255,255,255, .3);
}

.play-btn{
    display: block;
    margin: 0 auto;
    color: #2d9cd8;
    border-radius: 50%;
    padding: 0;
    width: 60px;
    height: 60px ;
}

.tour-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child{
    border-bottom: none;
}

.tour-item{
    display:inline-block;
    padding-right: .5em;
}

.tour-date{
    color:black;
    font-weight: bold;
    width: 11%;
}

.tour-city{
    width:24%;
}

.tour-arena{
    width:42%;
}

.tour-btn{
    max-width: 19%;
}

.btn-primary{
    color: white;
    background-color: rgb(66, 20, 109);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover{
    background-color:#a22dd8;
}
.shop-item{
    margin:20px;
}
.shop-item-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-bottom: 15px;

}

*.shop-item-image{

height: 250px;
}

.shop-item-details{
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price{
   flex-grow: 1;
   color: black;
}
.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header{
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}

.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-row{
    display: flex;
}

.cart-item{
    width:45%;
}
.cart-price{
    width: 20%;
    font-size: 1.2em;
    color: #333;

}

.cart-quantity{
    width: 35%;
}
.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-danger:hover {
    background-color: #CC4C4C;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.cart-row:last-child {
    border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column {
    border: none;
}
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}


